page-login-register {
  .login-register {
    max-height: 100vh;

    .fixed-content,
    .scroll-content {
      padding: 0 !important;
      margin: 0 !important;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      background-color: color($colors, background);

      .background {
        height: 70%;
        width: 100vw;
        background: url(/assets/imgs/login-register.png);
        background-size: cover;
      }

      .form-wrapper {
        width: 100%;
        position: absolute;
        bottom: 4rem;
        padding: 0rem 4rem;

        .card {
          margin-bottom: 4rem;
          padding-bottom: 2rem;
          overflow: visible;

          .card-content {
            padding: 5px 2rem 16px 2rem;
          }
        }

        .login {
          position: absolute;
          left: 0;
          right: 0;
          margin: 1.5rem auto 0 auto;
        }
      }

      .register {
        text-transform: none;

        b {
          padding-left: 4px;
        }
      }
    }
  }

  .register-content {
    height: 100vh;
    padding: 4rem;
    background-color: color($colors, background);

    .label h2 {
      color: rgb(153, 153, 153);
    }

    .form-wrapper {
      top: 4rem;
      bottom: auto;

      .card-content .login {
        position: relative;
        margin-top: 3rem;
      }
    }
  }
}
