<!--
<ion-header>
  <ion-navbar> <ion-title> Ionic Blank </ion-title> </ion-navbar>
</ion-header>
-->

<ion-content padding>
  <ion-fab *ngIf="showUploadButton" right bottom>
    <button ion-fab (click)="goToUpload()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-card
      *ngFor="let item of picArray"
      (click)="showFullImage(item)"
      class="card post"
    >
      <ion-card-content>
        <ion-item>
          <ion-thumbnail item-start>
            <img
              [src]="
                mediaProvider.mediaUploads +
                (item.file_id | thumbnailPipe: 'medium')
              "
            />
          </ion-thumbnail>
          <h1>{{ item.title }}</h1>
          <p>{{ item.description | descriptionPipe }}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
