<!--
  Generated template for the MyFilesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my-files</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let pic of picArray | async">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-thumbnail item-start>
              <img [src]="pic.file_id | thumbnail | async" [alt]="pic.title" [ngStyle]="{'filter': 'brightness('+(pic.description | filters).brightness/100+') contrast('+(pic.description | filters).contrast/100+') saturate('+(pic.description | filters).saturation/100+') sepia('+(pic.description | filters).warmth/100+')'}">
              <ion-icon *ngIf="pic.media_type === 'image'" name="image"></ion-icon>
              <ion-icon *ngIf="pic.media_type === 'video'" name="film"></ion-icon>
              <ion-icon *ngIf="pic.media_type === 'audio'" name="volume-mute"></ion-icon>
            </ion-thumbnail>
          </ion-col>
          <ion-col col-6>
            <h2>{{pic.title}}
            </h2>
            <p>{{pic.time_added | date:"d.M.y"}}</p>
            <p text-wrap>{{pic.description | description}}</p>
          </ion-col>
          <ion-col col-2>
            <button ion-button block (click)="showFile(pic.file_id)">
              <ion-icon name="eye"></ion-icon>
            </button>
            <br>
            <button ion-button block (click)="modifyFile(pic.file_id)">
              <ion-icon name="create"></ion-icon>
            </button>
            <br>
            <button ion-button block color="danger" (click)="deleteFile(pic.file_id)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
