// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.divider {
  height: 8px;
}

.ios,
.md,
.wp {
  body,
  p {
    color: color($colors, textLight);
    font-family: $karla-regular;
  }
  ion-content {
    background-color: color($colors, background);
  }
  form {
    ion-item {
      padding: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $rubik-regular;
    color: color($colors, textDark);
  }

  h1,
  h2 {
    font-size: 2rem;
    font-family: $rubik-bold;
    text-transform: uppercase;
  }

  ion-label h2 {
    font-family: $rubik-regular;
    text-transform: none;
  }
  .card {
    margin: 0;
    width: 100%;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
  }

  .post {
    margin-bottom: 2rem;
  }

  .button-block {
    padding: 2rem;
    width: 20rem;
    border-radius: 10rem;
    font-family: $rubik-regular;
  }

  .button-clear {
    width: 100%;
    border-radius: 0;
  }

  .list,
  #player-wrapper,
  #upload-wrapper {
    @include desktop {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}
