page-search {
  #search-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    background-color: color($colors, light);
    overflow: hidden;
    box-shadow: $card-shadow;
    z-index: 10;

    .item-inner {
      border-bottom: none !important;
      padding: 0 !important;
      background-color: transparent;

      .input-wrapper {
        background-color: transparent;
        #search-bar {
          padding: 1rem;
          background-color: color($colors, light);

          input {
            box-shadow: none;
            margin: 0;
          }
        }
      }
    }
  }
  .input-has-focus,
  .input-has-value {
    .item-inner {
      box-shadow: none !important;
    }
  }

  ion-content {
    margin-top: 78px;
  }
}
