<!--
  Generated template for the ModifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modify</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="file">
  <form (ngSubmit)="save()">
    <ion-item no-lines>
      <ion-label>
        Upload media
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Title</ion-label>
      <ion-input name="title" placeholder="title input" [(ngModel)]="fileInfo.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Descripiton</ion-label>
      <ion-textarea name="description" placeholder="description input"
                    [(ngModel)]="fileInfo.description"></ion-textarea>
    </ion-item>
    <ion-buttons>
      <button type="submit" ion-button block>Save</button>
    </ion-buttons>

  </form>
  <ion-card [hidden]="hidePreview">
    <img *ngIf="file.media_type !== 'image'" src="http://via.placeholder.com/640x320/000?text=Audio / Video">
    <img *ngIf="file.media_type === 'image'" [src]="mediaProvider.imageUrl + file.thumbnails.w640"
         [ngStyle]="{'filter': 'brightness('+filters.brightness/100+') contrast('+filters.contrast/100+') saturate('+filters.saturation/100+') sepia('+filters.warmth/100+')'}">
    <div *ngIf="file.media_type === 'image'">
      <ion-item>
        <ion-range min="0" max="200" step="1" [(ngModel)]="filters.brightness">
          <ion-icon small range-left name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="200" step="1" [(ngModel)]="filters.contrast">
          <ion-icon small range-left name="contrast"></ion-icon>
          <ion-icon range-right name="contrast"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="200" step="1" [(ngModel)]="filters.saturation">
          <ion-icon small range-left name="water"></ion-icon>
          <ion-icon range-right name="water"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="100" step="1" [(ngModel)]="filters.warmth">
          <ion-icon small range-left name="thermometer"></ion-icon>
          <ion-icon range-right name="thermometer"></ion-icon>
        </ion-range>
      </ion-item>
    </div>
  </ion-card>
</ion-content>
